@import "tailwindcss";


/* font */

/* *--> mane sobar font hobe "poppins */
*{
      
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
}




.geist-normal {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}



.left{
    width: 20%;
}

 #post-container-div{
            max-width: 60%;
            /* margin: 0px auto; */
            /* display: grid; */
            grid-template-columns: repeat(3, 1fr);
            
            grid-gap: 7px;
            /* row-gap: 30px; */
            
            
        }

      

.right{
    width: 20%;
}

.icon{
    font-size: 12px;
   
}

.icon-color{
    color: red;
}



.active{
    background-color: #15803D;
    color: white;
}